<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KnowMore</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div id="header-container">
            <div id="logo-container">
                <img src="../Logo/Full-Logo-keynote.001.png" id="main-logo">
            </div>
            <div id="container1" style="width: 100%;">
            </div>
        </div>

        <div id="body-container">
            <div id="text-logo-container">
                <img src="../Logo/Logo-without-icon.001.png" id="text-logo">
            </div>
            <div id="login-signup-container">
                <button id="login-btn">LOGIN</button>
                <button id="signup-btn">SIGNUP</button>
            </div>
        </div>

        <div id="bottom-container">
            <div id="tagline-container1">
                <label id="tagline-phrase-container1">
                    Migrate your
                </label>
                <img src="../Icons/brain-icon.001.png" id="brain-icon">
                <label id="tagline-phrase-container2">
                    to KnowMore
                </label>
            </div>
            <div id="tagline-container2">
                <label id="tagline-phrase-container3">
                    You don’t have to remember anything now!
                </label>
            </div>
        </div>
        
    </body>
</html>